<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sucursales</title>
    <link rel="shortcut icon" href="../assets/media/images/iconburguer.png" type="image/x-icon"/>
    <link rel="stylesheet" href="../assets/css/paginas/stylesucursales.css">
</head>

<body>

    <header>
        <div class="containerheader"> 
           
            <div class="title">
                <h1>Nuestras <span class="spanh1">Sucursales</span></h1>
            </div>
           
            <div class="ptitle">
                <p class="ptitle2">Contamos con sucursales a lo largo de la provincia para acercarnos a vos</p>
            </div>
            
            <div class="refimagecontainer">
                <div class="refimage">
                        <img src="../assets/media/images/vegetariano.png" class="image" alt="Veggie">
                        <p class="ptitle3">Comida</p>
                        <p class="ptitle3">Vegetariana</p>
                </div>
                <div class="refimage refimagetacc">
                        <img src="../assets/media/images/celiaco.png" class="image" alt="sinTACC">
                        <p class="ptitle3">Comida</p>
                        <p class="ptitle3">sinTACC</p>
                </div>
                <div class="refimage">
                        <img src="../assets/media/images/24horas.png" class="image" alt="24hr">
                        <p class="ptitle3">Abierto</p>
                        <p class="ptitle3">las 24horas</p>
                </div>
            </div>

        </div>
    </header>
    
    <main>
        
        <aside>
            <div class="containeraside">
                <div class="button">
                                        <ul class="list">
                        <li class="item itemcaba">
                            <a href="#CABA">
                                <img src="../assets/media/images/mayora.png" class="itemimage" alt="CABA">
                                <span class="itemtitle">CABA</span>
                            </a>
                        </li>
    
                        <li class="item itemamba">
                                <a href="#CONURBANO">
                                    <img src="../assets/media/images/mayora.png" class="itemimage" alt="CONURBANO">
                                    <span class="itemtitle">Conurbano Bonaerense</span> 
                                </a>
                        </li>
    
                        <li class="item itembsas">
                            <a href="#PROVINCIA">
                                <img src="../assets/media/images/mayora.png" class="itemimage" alt="PciaBsAs">
                                <span class="itemtitle">Pcia. de Buenos Aires</span> 
                            </a>
                        </li>

                        <li class="item itemimage">
                            <a href="../index.html">
                                <span class="itemtitle">Inicio</span>
                            </a>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </aside>

    <section>
        <div class="maincontainergroups">


            <div class="containergroups group1" >
                    <h2 id="CABA">CABA</h2>
                        
                        <div class="caba1">

                            <div class="containersucu1" >
                                <div class="sucu1">
                                    <div class="textgroups">
                                        <h3>Monserrat</h3>
                                        <p class="pgroups">Sáenz Peña 229</p>
                                        <p class="pgroups">555-5555</p>
                                    
                                        <div class="refimagetiny">
                                            <img src="../assets/media/images/vegetariano.png" class="imagetiny" alt="Veggie">
                                            <img src="../assets/media/images/celiaco.png" class="imagetiny" alt="sinTACC">
                                            <img src="../assets/media/images/24horas.png" class="imagetiny" alt="24hr">
                                        </div>
                                    
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d281.97921900631076!2d-58.38740857678491!3d-34.61146490601285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccadb780a71e1%3A0x6d51abd560adb075!2sPres.%20Luis%20S%C3%A1enz%20Pe%C3%B1a%20229%2C%20C1110AAE%20CABA!5e0!3m2!1ses-419!2sar!4v1697853275196!5m2!1ses-419!2sar" width="200" height="200" "></iframe>
                                    </div>
                                </div>
                            </div>
                            

                            <div class="containersucu1" >
                                <div class="sucu1">
                                    <div class="textgroups">
                                        <h3>San Telmo</h3>
                                        <p class="pgroups">Av.San Juan 443</p>
                                        <p class="pgroups">555-5555</p>

                                        <div class="refimagetiny">
                                        <img src="../assets/media/images/vegetariano.png" class="imagetiny" alt="Veggie">
                                        <img src="../assets/media/images/celiaco.png" class="imagetiny" alt="sinTACC">
                                        <img src="../assets/media/images/24horas.png" class="imagetiny" alt="24hr">
                                        </div>
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1160.8191599684067!2d-58.37276348999626!3d-34.62205047137393!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccb2cd3e4252d%3A0xc95eff6d09b151fa!2sAv.%20San%20Juan%20443%2C%20C1103%20San%20Telmo%2C%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1697746154934!5m2!1ses-419!2sar" width="200" height="200" "></iframe>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="containersucu1" >
                                <div class="sucu1">
                                    <div class="textgroups">    
                                        <h3>Balvanera</h3>
                                        <p class="pgroups">Av.Corrientes 1991</p>
                                        <p class="pgroups">555-5555</p>
                                        <div class="refimagetiny">
                                            <img src="../assets/media/images/vegetariano.png" class="imagetiny" alt="Veggie">
                                            <img src="../assets/media/images/celiaco.png" class="imagetiny" alt="sinTACC">
                                            <img src="../assets/media/images/24horas.png" class="imagetiny" alt="24hr">
                                        </div>
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3190.445239300494!2d-58.39472427249188!3d-34.60587434297816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccaea7b8056bd%3A0xe95dc55dd5a220f6!2sAv.%20Corrientes%2C%20C1045%20CABA!5e0!3m2!1ses-419!2sar!4v1697853571572!5m2!1ses-419!2sar" width="200" height="200" "></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>

                                    
                    </div>

                    <div class="containergroups group2" >

                        <div class="caba2">

                            <div class="containersucu1" >
                                <div class="sucu1">
                                    <div class="textgroups">
                                        <h3>Caballitos</h3>
                                        <p class="pgroups">Méndez de Andes 610</p>
                                            <p class="pgroups">555-5555</p>
                                        <div class="refimagetiny">
                                        <img src="../assets/media/images/vegetariano.png" class="imagetiny" alt="Veggie">
                                        <img src="../assets/media/images/celiaco.png" class="imagetiny" alt="sinTACC">
                                        <img src="../assets/media/images/24horas.png" class="imagetiny" alt="24hr">
                                        </div>
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1160.940322475979!2d-58.44302199733532!3d-34.613394510823255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca150a4a3e8b%3A0x6834addfe0a4f937!2sM%C3%A9ndez%20de%20Andes%20610%2C%20C1405CVF%20CABA!5e0!3m2!1ses-419!2sar!4v1697853876633!5m2!1ses-419!2sar" width="200" height="200" "></iframe>
                                    </div>
                                </div>
                            </div>    

                            <div class="containersucu1" >
                                <div class="sucu1">
                                    <div class="textgroups">
                                        <h3>Villa Crespo</h3>
                                        <p class="pgroups">Julián Álvarez 289</p>
                                            <p class="pgroups">555-5555</p>
                                        <div class="refimagetiny">
                                            <img src="../assets/media/images/vegetariano.png" class="imagetiny" alt="Veggie">
                                            <img src="../assets/media/images/celiaco.png" class="imagetiny" alt="sinTACC">
                                            <img src="../assets/media/images/24horas.png" class="imagetiny" alt="24hr">
                                        </div>
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1421.2524044670533!2d-58.43773500561508!3d-34.601750380617524!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccb4e88e2e283%3A0x23ae8fe00148dbc4!2sEl%20Molino%20del%20Quijote!5e0!3m2!1ses-419!2sar!4v1697854057247!5m2!1ses-419!2sar"  width="200" height="200" "></iframe>
                                    </div>
                                </div>
                            </div>

                            <div class="containersucu1" >
                                <div class="sucu1">
                                    <div class="textgroups">
                                        <h3>Almagro</h3>
                                        <p class="pgroups">Av.Boedo 265</p>
                                            <p class="pgroups">555-5555</p>
                                        <div class="refimagetiny">
                                            <img src="../assets/media/images/vegetariano.png" class="imagetiny" alt="Veggie">
                                            <img src="../assets/media/images/celiaco.png" class="imagetiny" alt="sinTACC">
                                            <img src="../assets/media/images/24horas.png" class="imagetiny" alt="24hr">
                                        </div>
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d869.7050410464814!2d-58.41699996712808!3d-34.615064577691776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccaf62adef7d1%3A0xf52ec8e5307ef2b2!2sAv.%20Boedo%20265%2C%20C1209%20CABA!5e0!3m2!1ses-419!2sar!4v1697854286207!5m2!1ses-419!2sar" width="200" height="200" "></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>

                                    
                    </div>

            </div>


            <div class="maincontainergroups">


                <div class="containergroups group1" >
                    <h2 id="CONURBANO">CONURBANO Bonaerense</h2>
                    
                    <div class="caba1">

                        <div class="containersucu1" >
                            <div class="sucu1">
                                <div class="textgroups">
                                    <h3>Moreno</h3>
                                    <p class="pgroups">Shakespeare 682</p>
                                    <p class="pgroups">555-5555</p>
                                
                                    <div class="refimagetiny">
                                    <img src="../assets/media/images/vegetariano.png" class="imagetiny" alt="Veggie">
                                    <img src="../assets/media/images/celiaco.png" class="imagetiny" alt="sinTACC">
                                    
                                </div>
                            
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1790.3657096084935!2d-58.77357160576984!3d-34.61566229322585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bc95d6d0a1199d%3A0x90272e1bdac6b37d!2sShakespeare%20682%2C%20Moreno%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1697887628235!5m2!1ses-419!2sar" width="200" height="200" "></iframe>
                            </div>
                            </div>
                        </div>    

                        <div class="containersucu1" >
                            <div class="sucu1">
                                <div class="textgroups">
                                    <h3>Quilmes</h3>
                                    <p class="pgroups">Nicolás Videla 360</p>
                                    <p class="pgroups">555-5555</p>

                                    <div class="refimagetiny">
                                    <img src="../assets/media/images/vegetariano.png" class="imagetiny" alt="Veggie">
                                    <img src="../assets/media/images/celiaco.png" class="imagetiny" alt="sinTACC">
                                    
                                    </div>
                                    <iframe src=
                                    "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d947.2338093811663!2d-58.255925715844995!3d-34.71874165753142!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a32e3fbcb39c41%3A0x2758772b92c638c1!2sNicol%C3%A1s%20Videla%20360%2C%20Quilmes%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1697890238430!5m2!1ses-419!2sar"  width="200" height="200" "></iframe>
                                </div>
                            </div>
                        </div>

                        <div class="containersucu1" >
                            <div class="sucu1">
                                <div class="textgroups">    
                                    <h3>Colegiales</h3>
                                    <p class="pgroups">Conde 1061</p>
                                    <p class="pgroups">555-5555</p>
                                    <div class="refimagetiny">
                                    <img src="../assets/media/images/vegetariano.png" class="imagetiny" alt="Veggie">
                                    <img src="../assets/media/images/celiaco.png" class="imagetiny" alt="sinTACC">
                                    <img src="../assets/media/images/24horas.png" class="imagetiny" alt="24hr">
                                    </div>
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2607.4008883523784!2d-58.4530557941342!3d-34.57585325470387!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb5dcf97f9251%3A0xc8cd05ef4488dc6b!2sConde%201061%2C%20C1426AYU%20CABA!5e0!3m2!1ses-419!2sar!4v1697891435102!5m2!1ses-419!2sar" width="200" height="200" "></iframe>
                                </div>
                            </div>
                        </div>
                    </div>

                                
                </div>

                <div class="containergroups group2" >

                    <div class="caba2">

                        <div class="containersucu1" >
                            <div class="sucu1">
                                <div class="textgroups">
                                    <h3>Merlo</h3>
                                    <p class="pgroups">25 de Mayo 2966</p>
                                        <p class="pgroups">555-5555</p>
                                    <div class="refimagetiny">
                                    <img src="../assets/media/images/vegetariano.png" class="imagetiny" alt="Veggie">
                                    <img src="../assets/media/images/celiaco.png" class="imagetiny" alt="sinTACC">
                                
                                    </div>
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2529.6983224715227!2d-58.732339208980456!3d-34.68972800413417!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc01b1e87bdf1%3A0xa1da59cab6b6ef26!2s25%20de%20Mayo%202966%2C%20Merlo%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1697891593776!5m2!1ses-419!2sar" width="200" height="200" "></iframe>
                                </div>
                            </div>
                        </div>    

                        <div class="containersucu1" >
                            <div class="sucu1">
                                <div class="textgroups">
                                    <h3>San Isidro</h3>
                                    <p class="pgroups">Misiones 427</p>
                                        <p class="pgroups">555-5555</p>
                                    <div class="refimagetiny">
                                        <img src="../assets/media/images/vegetariano.png" class="imagetiny" alt="Veggie">
                                        <img src="../assets/media/images/celiaco.png" class="imagetiny" alt="sinTACC">
                                    
                                    </div>
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d691.4354676315196!2d-58.525131556737286!3d-34.476508335720574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb03932ab075f%3A0xad658f28f68a4bef!2sMisiones%20427%2C%20B1642BOI%20San%20Isidro%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1697891816417!5m2!1ses-419!2sar"  width="200" height="200" "></iframe>
                                </div>
                            </div>
                        </div>

                        <div class="containersucu1" >
                            <div class="sucu1">
                                <div class="textgroups">
                                    <h3>Tigre</h3>
                                    <p class="pgroups">Cnel.Morales 1381</p>
                                        <p class="pgroups">555-5555</p>
                                    <div class="refimagetiny">
                                        <img src="../assets/media/images/vegetariano.png" class="imagetiny" alt="Veggie">
                                        <img src="../assets/media/images/celiaco.png" class="imagetiny" alt="sinTACC">
                                    
                                    </div>
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1036.6550018763999!2d-58.577305806799366!3d-34.42233209107565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bca597e9c2c6cf%3A0x59c6c65a52962ead!2sCnel.%20Morales%201381%2C%20B1648%20Tigre%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1697892001473!5m2!1ses-419!2sar" width="200" height="200" "></iframe>
                                </div>
                            </div>
                        </div>
                    </div>

                                
                </div>

        </div>


        <div class="maincontainergroups">
        <div class="containergroups group1" >
            <h2 id="PROVINCIA">Pcia. de BUENOS AIRES</h2>
            
            <div class="caba1">

                <div class="containersucu1" >
                    <div class="sucu1">
                        <div class="textgroups">
                            <h3>Bahía Blanca</h3>
                            <p class="pgroups">Florencio Sánchez 665</p>
                            <p class="pgroups">555-5555</p>
                        
                            <div class="refimagetiny">
                            <img src="../assets/media/images/vegetariano.png" class="imagetiny" alt="Veggie">
                            <img src="../assets/media/images/celiaco.png" class="imagetiny" alt="sinTACC">
                            
                        </div>
                    
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d952.7907133262033!2d-62.26424348840613!3d-38.70498581804887!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95edbb552f906b41%3A0x7a6fda65ca97a56b!2sFlorencio%20S%C3%A1nchez%20665%2C%20B8000%20Bah%C3%ADa%20Blanca%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1697892341054!5m2!1ses-419!2sar"  width="200" height="200" "></iframe>
                    </div>
                    </div>
                </div>    

                <div class="containersucu1" >
                    <div class="sucu1">
                        <div class="textgroups">
                            <h3>Tandil</h3>
                            <p class="pgroups">Mitre 970</p>
                            <p class="pgroups">555-5555</p>

                            <div class="refimagetiny">
                            <img src="../assets/media/images/vegetariano.png" class="imagetiny" alt="Veggie">
                            <img src="../assets/media/images/celiaco.png" class="imagetiny" alt="sinTACC">
                        
                            </div>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2994.773416757334!2d-59.13457476812117!3d-37.32234263373933!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95911f9202446193%3A0x45a7720e756bcbcb!2sMitre%20970%2C%20Tandil%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1697892447431!5m2!1ses-419!2sar"  width="200" height="200" "></iframe>
                        </div>
                    </div>
                </div>

                <div class="containersucu1" >
                    <div class="sucu1">
                        <div class="textgroups">    
                            <h3>Pehuajó</h3>
                            <p class="pgroups">Adolfo Alsina 443</p>
                            <p class="pgroups">555-5555</p>
                            <div class="refimagetiny">
                            <img src="../assets/media/images/vegetariano.png" class="imagetiny" alt="Veggie">
                            <img src="../assets/media/images/celiaco.png" class="imagetiny" alt="sinTACC">
                            
                            </div>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1665.1909215875564!2d-61.89621968856734!3d-35.810440276016095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95c0f82d0f247143%3A0xd944085bd664eada!2sAdolfo%20Alsina%20443%2C%20B6450%20Pehuaj%C3%B3%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1697892547574!5m2!1ses-419!2sar" width="200" height="200" "></iframe>
                        </div>
                    </div>
                </div>
            </div>

                        
        </div>

        <div class="containergroups group2" >

            <div class="caba2">

                <div class="containersucu1" >
                    <div class="sucu1">
                        <div class="textgroups">
                            <h3>Bolívar</h3>
                            <p class="pgroups">Av.Venezuela 186</p>
                                <p class="pgroups">555-5555</p>
                            <div class="refimagetiny">
                            <img src="../assets/media/images/vegetariano.png" class="imagetiny" alt="Veggie">
                            <img src="../assets/media/images/celiaco.png" class="imagetiny" alt="sinTACC">
                            
                            </div>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1353.1826284320439!2d-61.1150939488499!3d-36.22908549368947!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bfe3153862607d%3A0x76d19cf4325f65ba!2sAv.%20Venezuela%20186%2C%20B6550%20San%20Carlos%20de%20Bolivar%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1697892711949!5m2!1ses-419!2sar" width="200" height="200" "></iframe>
                        </div>
                    </div>
                </div>    

                <div class="containersucu1" >
                    <div class="sucu1">
                        <div class="textgroups">
                            <h3>Azul</h3>
                            <p class="pgroups">Belgrano 468</p>
                                <p class="pgroups">555-5555</p>
                            <div class="refimagetiny">
                                <img src="../assets/media/images/vegetariano.png" class="imagetiny" alt="Veggie">
                                <img src="../assets/media/images/celiaco.png" class="imagetiny" alt="sinTACC">
                                
                            </div>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2464.224154891001!2d-59.8619865268859!3d-36.77769118005125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9594279fd4fa10a7%3A0x3f18ac63023c2965!2sBelgrano%20468%2C%20Azul%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1697892846710!5m2!1ses-419!2sar"   width="200" height="200" "></iframe>
                        </div>
                    </div>
                </div>

                <div class="containersucu1" >
                    <div class="sucu1">
                        <div class="textgroups">
                            <h3>Olavarría</h3>
                            <p class="pgroups">San Martín 2941</p>
                                <p class="pgroups">555-5555</p>
                            <div class="refimagetiny">
                                <img src="../assets/media/images/vegetariano.png" class="imagetiny" alt="Veggie">
                                <img src="../assets/media/images/celiaco.png" class="imagetiny" alt="sinTACC">
                            
                            </div>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1064.821096710545!2d-60.322792991045816!3d-36.89375640241702!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959445cf529fa5e3%3A0xff3e112bc1dbf89e!2sSan%20Mart%C3%ADn%202941%2C%20Olavarr%C3%ADa%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1697893066029!5m2!1ses-419!2sar"  width="200" height="200" "></iframe>
                        </div>
                    </div>
                </div>
            </div>

        </div>               
    </div>

</main>

    <footer>
        <div class="pfooter"><p>Copyright 2023 Rotisería "Los Come Nunca"- Todos los derechos reservados</p>
        </div>
        </footer>

</body>
</html>
