/* Estilos generales */
h1 {
    text-align: center;
    color: #333;
}

/* Estilos para el contenedor de borrado */
.bloque_borrar {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 10px;
}

/* Estilos para el mensaje de confirmación */
p {
    margin-bottom: 15px;
    font-size: 1.2rem;
    color: #222121;
}

/* Estilos para el formulario */
form {
    text-align: center;
}

/* Estilos para el botón de confirmación */
input[type="submit"] {
    padding: 10px 15px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #d32f2f;
}