/* Estilos generales */
h1 {
    text-align: center;
    color: #333;
}

/* Estilos para la información del pedido */
p {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #555;
}

/* Estilo para el contenedor principal */
.bloque_detalle {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 10px;
}

/* Estilo para el enlace de volver */
a {
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    color: #4CAF50;
}

a:hover {
    color: #45a049;
}

