header section a{
    padding: 30px;
    border: 1px solid white;
    border-radius: 50px;
    color: white;
    margin: 30px;
    font-weight: bolder;
    font-size: 1.3rem;
    text-decoration: none;
    box-shadow: 1px 1px white;
    opacity: 0.9;
}

.box-0:hover{
    opacity: 0.8;
    color:black;
    border-color: white;
    background-color: white;
}

.box-1:hover{
    opacity: 0.8;
    color:black;
    border-color: white;
    background-color: white;
}
.box-2:hover{
    opacity: 0.8;
    color:black;
    border-color: white;
    background-color: white;
}
.box-3:hover{
    opacity: 0.8;
    color:black;
    border-color: white;
    background-color: white;
}
.box-4:hover{
    opacity: 0.8;
    color:black;
    border-color: white;
    background-color: white;
}

